<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wecommerce</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="~/css/NavResposive.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
    

</head>
<body class="bg-light" style="overflow-x: hidden">
    <header>
        <!-- Barra Superior -->
        <nav class="navbar navbar-expand-lg navbar-light " id="NavSuperior">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand" id="tituloBrand" asp-action="Index" asp-controller="Home" ><i class="icofont-cart-alt"></i>WeCommerce</a>

                
                    <div class="cart">
                        <div class="cart_container d-flex flex-row align-items-center justify-content-end" style="width:150px">
                            <div class="cart_icon">
                                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                                <div class="cart_count"><span id="CantCarrito">0</span></div>
                            </div>
                            <div class="cart_content">
                                <div class="cart_text"><a asp-controller="VentaCabeceras" asp-action="Create" style="text-decoration: none;">Carrito</a></div>

                            </div>
                        </div>
                    </div>
                    <div id="loginpartialup">
                        <partial name="_LoginPartial" />
                    </div>

               
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- Barra Inferior -->
        <nav class="navbar navbar-expand-lg navbar-light " id="NavInferior">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home"><i class="icofont-ui-home" style="margin-right:2px"></i>Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="icofont-page" style="margin-right:2px"></i>
                                Paginas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="VentaCabeceras" asp-action="Create">Carrito</a></li>
                                <li><a class="dropdown-item" asp-controller="ProductosVistaController1" asp-action="Index">Productos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                    <li><a class="dropdown-item" asp-action="IndexUsuario" asp-controller="VentaCabeceras">Mis Compras</a></li>
}

                            </ul>
                        </li>

                    </ul>
                    <div id="loginpartialAbajo">
                        <partial name="_LoginPartial" />
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="bodycontainer" id="main">
        <main role="main" class="pb-3" style="margin-bottom: 100px;z-index: 100!important " >
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js"></script>
    <script src="https://kit.fontawesome.com/b0550c7057.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(
            function () {
                GetTotalCarrito();
            });

       

    </script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>

