@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link href="~/css/navupper.css" rel="stylesheet" />
<link href="~/icofont/icofont.min.css" rel="stylesheet" />
<link href="~/css/Nuevanav.css" rel="stylesheet" />
@if (SignInManager.IsSignedIn(User))
{
    <ul class="standard_dropdown main_nav_dropdown ">
        <li class="">
           <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> !Hola @User.Identity.Name!</a>
            <ul>
                <li class="nav-item">
                    <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"> <i class="fas fa-sign-out-alt"></i>Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>

        }
        else
        {

<div class="row align-items-center">
    <div><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" style="color:black"><i class="icofont-ui-user"></i>Registrarse</a></div>
    <div><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="icofont-login"></i>Login</a></div>
</div>
            
      

        }


        <style>
            hr {
                border: none;
                border-left: 1px solid hsla(200, 10%, 50%,100);
                border-left-color: white;
                height: 30px;
                width: 1px;
                margin: 0px;
            }
        </style>

