#text {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    text-align: left;
}

@media(max-width:1900px) {

   

    #cabecera {
        display: none
    }
    #botones{
        display:none
    }
    #obj1 {
        display: none
    }
    #acordionRes {
        display: none
    }
}
@media(max-width:769px) {

    #filtro{
        display:none
    }
    #cabecera{
        display:inline
    }
    #botones {
        display: block
    }
    #acordionRes {
        display: block
    }

}
