@model WeCommerce.Models.VentaCabecera

@{ ViewData["Title"] = "Create"; }
<link href="~/css/Cart.css" rel="stylesheet" />
<link href="~/css/titulos.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="titlesUser">
                        <h3 class="titles-text-user">Carrito</h3>
                    </div>

                    <div class="cart_items">
                        <ul class="cart_list" id="recargar">
                            @foreach (var item in Model.Details)
                            {

                <li class="cart_item clearfix">
                    <div class="cart_item_image"><img src="@("~/Files/Img/Product/" + item.getProductos().ImageName)" asp-append-version="true"></div>
                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                        <div class="cart_item_name cart_info_col">
                            <div class="cart_item_title">Producto</div>
                            <div class="cart_item_text">@item.getProductos().Title</div>
                        </div>
                        <div class="cart_item_quantity cart_info_col">
                            <div class="cart_item_title">Cantidad</div>
                            <div class="cart_item_text">@item.Quntity</div>
                        </div>
                        <div class="cart_item_price cart_info_col">
                            <div class="cart_item_title">Precio /u</div>
                            <div class="cart_item_text">$@item.getProductos().Price</div>
                        </div>
                        <div class="cart_item_total cart_info_col">
                            <div class="cart_item_title">SubTotal</div>
                            <div class="cart_item_text">$@(item.Quntity*item.getProductos().Price)</div>
                        </div>
                        <button class="button cart_button_checkout" onclick="EliminarProdCart(@item.ProductId)"><i class="fas fa-trash-alt" style="color:black"></i></button>
                    </div>
                </li>}
                        </ul>
                    </div>


                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Orden Total:</div>
                            <div class="order_total_amount">$<span id="total">0</span></div>
                        </div>
                    </div>
                    <div class="cart_buttons row" style="float:right">
                        <div style="width:auto"><button class="button cart_button_clear" style="color:darkorange"><a class="a " asp-action="Index" asp-controller="ProductosVistaController1">Seguir Comprando</a> </button></div>
                        <div style="width:auto"><form asp-action="Create"><div asp-validation-summary="ModelOnly" class="text-danger"></div><div class="form-group"><input type="submit" value="Comprar" class="button cart_button_checkout text-dark" /></div></form> </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>

        $(document).ready(
            function GetTotal() {
                $.ajax({

                    url: "/VentaCabeceras/GetTotalImport",
                    type: "post",

                    cache: false,
                    success: function (retorno) {
                        $("#total").html(retorno);
                        GetTotalCarrito();
                    },
                    error: function (error) {

                    }





                })
            });


        function EliminarProdCart(idproductodelete) {
            $.ajax({
                url: "/VentaCabeceras/DeleteProducto",
                type: "post",
                data: { idproducto: idproductodelete },
                cache: false,
                success: function () {

                    window.location = "/VentaCabeceras/Create";
                },
                error: function (error) {

                }




            })
        };



    </script>

}



